In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from tensorflow.keras.utils import *
from sklearn.preprocessing import *

In [4]:
df = pd.read_csv('../Data/eighthr.data', header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,72,73
0,1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1,1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
2,1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
3,1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
4,1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,...,?,?,?,?,?,?,?,?,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,...,0.07,7.93,-4.41,5800,-25.6,21.8,10295,65,0,0.0
2530,12/28/2004,1,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,...,0.04,5.95,-1.14,5845,-19.4,19.1,10310,15,0,0.0
2531,12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,...,0.06,7.8,-0.64,5845,-9.6,35.2,10275,-35,0,0.0
2532,12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1,1.9,...,0.25,7.72,-0.89,5845,-19.6,34.2,10245,-30,0.05,0.0
2533,12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,...,0.54,13.07,9.15,5820,1.95,39.35,10220,-25,0,0.0

In [5]:
# neural network를 구성해서 예측하는 모델, LSTM으로 예측하는 모델을 각각 생성하고 평가하시오
# target : 73번 칼럼
# object => numeric
# scaling

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2534 entries, 0 to 2533
Data columns (total 74 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2534 non-null   object
 1   1       2534 non-null   object
 2   2       2534 non-null   object
 3   3       2534 non-null   object
 4   4       2534 non-null   object
 5   5       2534 non-null   object
 6   6       2534 non-null   object
 7   7       2534 non-null   object
 8   8       2534 non-null   object
 9   9       2534 non-null   object
 10  10      2534 non-null   object
 11  11      2534 non-null   object
 12  12      2534 non-null   object
 13  13      2534 non-null   object
 14  14      2534 non-null   object
 15  15      2534 non-null   object
 16  16      2534 non-null   object
 17  17      2534 non-null   object
 18  18      2534 non-null   object
 19  19      2534 non-null   object
 20  20      2534 non-null   object
 21  21      2534 non-null   object
 22  22      2534 non-null   object
 23  23      2534 non-null   object
 24  24      2534 non-null   object
 25  25      2534 non-null   object
 26  26      2534 non-null   object
 27  27      2534 non-null   object
 28  28      2534 non-null   object
 29  29      2534 non-null   object
 30  30      2534 non-null   object
 31  31      2534 non-null   object
 32  32      2534 non-null   object
 33  33      2534 non-null   object
 34  34      2534 non-null   object
 35  35      2534 non-null   object
 36  36      2534 non-null   object
 37  37      2534 non-null   object
 38  38      2534 non-null   object
 39  39      2534 non-null   object
 40  40      2534 non-null   object
 41  41      2534 non-null   object
 42  42      2534 non-null   object
 43  43      2534 non-null   object
 44  44      2534 non-null   object
 45  45      2534 non-null   object
 46  46      2534 non-null   object
 47  47      2534 non-null   object
 48  48      2534 non-null   object
 49  49      2534 non-null   object
 50  50      2534 non-null   object
 51  51      2534 non-null   object
 52  52      2534 non-null   object
 53  53      2534 non-null   object
 54  54      2534 non-null   object
 55  55      2534 non-null   object
 56  56      2534 non-null   object
 57  57      2534 non-null   object
 58  58      2534 non-null   object
 59  59      2534 non-null   object
 60  60      2534 non-null   object
 61  61      2534 non-null   object
 62  62      2534 non-null   object
 63  63      2534 non-null   object
 64  64      2534 non-null   object
 65  65      2534 non-null   object
 66  66      2534 non-null   object
 67  67      2534 non-null   object
 68  68      2534 non-null   object
 69  69      2534 non-null   object
 70  70      2534 non-null   object
 71  71      2534 non-null   object
 72  72      2534 non-null   object
 73  73      2534 non-null   float64
dtypes: float64(1), object(73)
memory usage: 1.4+ MB

In [9]:
df = df.iloc[:, 1:].apply(pd.to_numeric, errors = 'coerce')
df.head()

,1,2,3,4,5,6,7,8,9,10,...,64,65,66,67,68,69,70,71,72,73
0,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.9,10330.0,-55.0,0.00,0.0
1,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.0,10275.0,-55.0,0.00,0.0
2,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.3,10235.0,-40.0,0.00,0.0
3,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.7,10195.0,-40.0,2.08,0.0
4,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58,0.0

In [10]:
df1 = df.dropna(axis = 0)

In [11]:
df1

,1,2,3,4,5,6,7,8,9,10,...,64,65,66,67,68,69,70,71,72,73
0,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00,0.0
1,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00,0.0
2,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00,0.0
3,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08,0.0
6,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00,0.0
2530,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00,0.0
2531,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00,0.0
2532,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05,0.0
2533,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00,0.0

In [12]:
scaler = MinMaxScaler()
df1_sc = scaler.fit_transform(df1)
df1_sc

array([[0.11594203, 0.26086957, 0.33802817, ..., 0.29090909, 0.        ,
        0.        ],
       [0.4057971 , 0.46376812, 0.46478873, ..., 0.29090909, 0.        ,
        0.        ],
       [0.42028986, 0.4057971 , 0.36619718, ..., 0.34545455, 0.        ,
        0.        ],
       ...,
       [0.11594203, 0.11594203, 0.16901408, ..., 0.36363636, 0.        ,
        0.        ],
       [0.1884058 , 0.13043478, 0.21126761, ..., 0.38181818, 0.00242131,
        0.        ],
       [0.2173913 , 0.1884058 , 0.25352113, ..., 0.4       , 0.        ,
        0.        ]])

In [13]:
y = df1_sc[:, -1]
x = df1_sc[:, :-1]

In [14]:
x = x.reshape(1847, 72, 1)

In [15]:
y.shape

(1847,)

In [17]:
model = Sequential()
model.add(LSTM(128, input_shape = (72, 1)))
model.add(Dense(1, activation = 'sigmoid'))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 128)               66560

 dense (Dense)               (None, 1)                 129

=================================================================
Total params: 66,689
Trainable params: 66,689
Non-trainable params: 0
_________________________________________________________________

In [18]:
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [19]:
model.fit(x, y, epochs = 20, batch_size = 10, validation_split = 0.2)

Epoch 1/20
148/148 [==============================] - 4s 20ms/step - loss: 0.3072 - accuracy: 0.9113 - val_loss: 0.1935 - val_accuracy: 0.9811
Epoch 2/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2871 - accuracy: 0.9181 - val_loss: 0.1033 - val_accuracy: 0.9811
Epoch 3/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2863 - accuracy: 0.9181 - val_loss: 0.1301 - val_accuracy: 0.9811
Epoch 4/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2872 - accuracy: 0.9181 - val_loss: 0.1239 - val_accuracy: 0.9811
Epoch 5/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2878 - accuracy: 0.9181 - val_loss: 0.1144 - val_accuracy: 0.9811
Epoch 6/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2856 - accuracy: 0.9181 - val_loss: 0.1228 - val_accuracy: 0.9811
Epoch 7/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2851 - accuracy: 0.9181 - val_loss: 0.1235 - val_accuracy: 0.9811
Epoch 8/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2855 - accuracy: 0.9181 - val_loss: 0.1223 - val_accuracy: 0.9811
Epoch 9/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2851 - accuracy: 0.9181 - val_loss: 0.1291 - val_accuracy: 0.9811
Epoch 10/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2844 - accuracy: 0.9181 - val_loss: 0.1206 - val_accuracy: 0.9811
Epoch 11/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2843 - accuracy: 0.9181 - val_loss: 0.1330 - val_accuracy: 0.9811
Epoch 12/20
148/148 [==============================] - 3s 19ms/step - loss: 0.2836 - accuracy: 0.9181 - val_loss: 0.1409 - val_accuracy: 0.9811
Epoch 13/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2853 - accuracy: 0.9181 - val_loss: 0.1237 - val_accuracy: 0.9811
Epoch 14/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2841 - accuracy: 0.9181 - val_loss: 0.1244 - val_accuracy: 0.9811
Epoch 15/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2849 - accuracy: 0.9181 - val_loss: 0.1361 - val_accuracy: 0.9811
Epoch 16/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2842 - accuracy: 0.9181 - val_loss: 0.1380 - val_accuracy: 0.9811
Epoch 17/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2843 - accuracy: 0.9181 - val_loss: 0.1480 - val_accuracy: 0.9811
Epoch 18/20
148/148 [==============================] - 3s 19ms/step - loss: 0.2844 - accuracy: 0.9181 - val_loss: 0.1387 - val_accuracy: 0.9811
Epoch 19/20
148/148 [==============================] - 3s 19ms/step - loss: 0.2840 - accuracy: 0.9181 - val_loss: 0.1290 - val_accuracy: 0.9811
Epoch 20/20
148/148 [==============================] - 3s 18ms/step - loss: 0.2842 - accuracy: 0.9181 - val_loss: 0.1360 - val_accuracy: 0.9811